.log-form{
    background: burlywood;
    margin-bottom: 20px;
    padding: 20px;
}
.form-wrap{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-item{
    display: flex;
    gap: 10px;
    height: 30px;
    align-items: center;
}
.form-btn{
    margin-top: 10px;
}