.SearchWrap{
    position: fixed;
    left: 0;
    right: 0;
    height: 120rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    border-bottom: 2rem solid #f2f2f2;
}
.InputWrap{
    position: relative;
    /* width: 600rem; */
    /* height: 100rem; */
    display: flex;
    align-items: center;
}
.SearchIcon{
    position: absolute;
    left: 20rem;
    font-size: 20rem;
} 
.SearchInput{
    width: 650rem;
    height: 70rem;
    border-radius: 40rem;
    outline: none;
    border: none;
    background: #f2f2f2;
    padding-left: 50rem;
    font-size: 30rem;
}