.mealWrap{
    display: flex;
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
    padding: 40rem 20rem;
    gap: 15px;
    
}
.imgBox{
    width: 200rem;
    height: 200rem;
}
.img{
    width: 100%;
}
.mealInfo{
    flex: 1;
}
.mealTitle{
    font-size: 40rem;

}
.mealDesc{
    font-size: 28rem;

}
.mealPriceWrap{
    display: flex;
    justify-content: space-between;
    margin-top: 60rem;
}
.mealPrice{
    font-size: 32rem;

}
.mealPrice::before{
    content: '¥';
}